/* Autor: Leonardo Amad */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body {
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 450px;
  height: auto;
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.2);
  background: #fff;
}

.recover-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
}

.recover-box img {
  width: 80px;
  margin-bottom: 15px;
}

.recover-box h2 {
  font-size: 26px;
  font-weight: bold;
  color: #0a3db7;
  margin-bottom: 10px;
}

.recover-box p {
  font-size: 14px;
  margin-bottom: 20px;
  color: #333;
}

.recover-box label {
  align-self: flex-start;
  font-size: 14px;
  margin-bottom: 5px;
  color: #2E2E2E;
}

.recover-box input {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border: none;
  border-radius: 6px;
  background: #f2f2f2;
  font-size: 14px;
}

.recover-box button {
  width: 150px;
  padding: 12px;
  background: #ffc30f;
  color: #0a3db7;
  border: none;
  border-radius: 20px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
  margin-bottom: 15px;
}

.recover-box button:hover {
  background: #0a3db7;
  color: #ffc30f;
}

.back-link {
  font-size: 14px;
  text-decoration: none;
  color: #0a3db7;
  transition: 0.3s;
}

.back-link:hover {
  color: #19053f;
}

@media (max-width: 480px) {
  .container {
    width: 90%;
    padding: 20px;
  }
}
