/* Autor: Leonardo Amad */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body {
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  display: flex;
  width: 850px;
  height: 470px;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.2);
}

/* Lado esquerdo - Login */
.login-box {
  flex: 1;
  background: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
}

.login-box h2 {
  font-size: 28px;
  font-weight: bold;
}

.login-box .info-input{
  text-align: center;
}

.login-box small {
  font-size: 10px;
  color: gray;
  width: 100%;
  text-align: left;
}

.login-box #signup-message {
  min-height: 10px;
  text-align: center;
  margin-bottom: 2px;
}


.login-box p {
  font-size: 14px;
  margin: 10px 0;
}

.login-box input {
  width: 100%;
  padding: 12px;
  margin: 8px 0;
  border: none;
  border-radius: 6px;
  background: #f2f2f2;
  font-size: 14px;
}

.login-box button {
  width: 120px;
  padding: 10px;
  background: #ffc30f;
  color: #0a3db7;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
  transition: 0.3s;
}

.login-box button:hover {
  background: #0a3db7;
  color: #ffc30f;
}

/* Lado direito - Criar conta */
.signup-box {
  flex: 1;
  background: #0a3db7;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 30px;
  border-top-left-radius: 120px;
  border-bottom-left-radius: 120px;
  height: 100%;
}

.signup-box h2 {
  font-size: 28px;
  font-weight: bold;
  color: #ffc30f;
  margin-bottom: 15px;
}

.signup-box p {
  font-size: 14px;
  margin-bottom: 20px;
}

.signup-box a {
  display: inline-block;
  padding: 10px 25px;
  border: 1px solid #ffc30f;
  color: #ffc30f;
  font-weight: bold;
  text-decoration: none;
  border-radius: 8px;
  transition: 0.3s;
}

.signup-box a:hover {
  background: #ffc30f;
  color: #0a3db7;
}

.login-box #signin-message{
  min-height: 10px;
  margin-top: 5px;  
  margin-bottom: 10px;
}

img {
  width: 100px;
}

.back-link {
  font-size: 14px;
  text-decoration: none;
  color: #0a3db7;
  transition: 0.3s;
}

.back-link:hover {
  color: #19053f;
}